html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.response,
.picker {
    display: none;
}

.picker-container {
    box-shadow: none;
}

.sp-palette-container {
    border-right: none;
}